body{
	padding:0px;
	margin:0px;
	
}
	
	
.intro{
	
	height:100vh;
	width:100vw;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(../images/aboutus_wallpaper1.jpg);
	background-repeat:no-repeat;
	position:static;
	background-size:cover;
	margin:auto;
	z-index:-1;}
	

	
.logo img{
	position:absolute;
	height:20%;
	float:left;
	margin-left:30%;


}
.nav{
	margin-top:20px;
	float:right;
	margin-right:5%;
	background-color:#262626;
	}
.nav ul li{
	display:inline-block;
	margin-left:30px;
	font-size:130%;
	list-style:none;
}
.nav ul li a{
	text-decoration:none;
	color:white;
}
.nav ul li a:hover{
	transition:all 0.2s ease-in;
	color:#ffeb00;
}
.nav ul li a .book_now{
	text-decoration:none;
	color:#ffeb00;
}
.form_login{margin-left:10vw;
	float:left;
	margin-top:30vh;
	position:fixed;
	width:500px;
	height:450px;
	text-align:center;
	background-color:rgba(80,80,80,0.5);
	border-radius:5px;  
	z-index:5;
}

.form_login h1{font-family:Calibri Light;
	font-size:25px;
	text-align:center;
	padding:0px;
	line-height:100px;
	margin:0px;
	margin-top:30px;
	color:#2ECC71;
}

input[type="text"], input[type="password"]{
	height:45px;
	width:300px;
	font-size:20px;
	padding-left:20px;
	margin-bottom:20px;
}

.login_btn{
	padding:12px 25px;
	color:#fff;
	background-color:#2ECC71;
	border:none;
	border-radius:4px;
	border-bottom:4px solid #27AE60;
	font-size:15px;
}

.form_register{margin-left:60vw;
	float:left;
	margin-top:6vh;
	margin-top:30vh;
	position:fixed;
	width:500px;
	height:460px;
	text-align:center;
	background-color:rgba(80,80,80,0.5);
	border-radius:5px;  
	z-index:5;
}

.form_register h2{font-family:Calibri Light;
	font-size:25px;
	text-align:center;
	padding:0px;
	line-height:100px;
	margin:0px;
	margin-top:0px;
	color:#2ECC71;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="email"]
{	height:30px;
	width:300px;
	font-size:15px;
	padding-left:20px;
	margin-top:10px;
	
}

.register_btn{
	margin-top:20px;
	padding:12px 25px;
	color:#fff;
	background-color:#2ECC71;
	border:none;
	border-radius:4px;
	border-bottom:4px solid #27AE60;
	font-size:15px;
}
.notregister_btn{
	margin-top:20px;
	padding:12px 25px;
	color:#fff;
	background-color:#2ECC71;
	border:none;
	border-radius:4px;
	border-bottom:4px solid #27AE60;
	font-size:15px;
}